


*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.home-boven-title {
    text-align: start;
    margin-top: 4rem;
    width: 90%;
    max-width: fit-content;
}


.home-boven-title  h4{
    font-size: .7em;
}
.home-boven-title p {
    font-size: .6rem;
    max-width: 280px;
    line-height: calc(1em + 0.5rem);
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#btn {
    font-size: 0.7rem;
    padding: .2rem 1rem;
    background: #10b981;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 6px;
    text-transform: capitalize;
    transition: all .3s;
    box-shadow: 0px 0px 10px grey;
}
#btn:hover {
    transform: translateY(-5px);
    background: #be123c;
    color: #faf5ff;
    border: 1px solid #3730a3;
    box-shadow: 0px 0px 10px #4338ca;
}

.home-fruit-foto  img {
    width: 90%;
    max-width: 450px;
}

/* 2section */
.div-home-fruits {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* 3section ------------------------------------------------------------------ */
.DerdeSection-div,
.DerdeSection-div2 {
    margin-top:12rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.DerdeSection-div img,
.DerdeSection-div2 img {
    width: 90%;
    max-width: 400px;
}

.info-sectionDrie-div h1 {
    font-size: 1.5rem;
    line-height: calc(1em + .5rem);
}
.info-sectionDrie-div p {
    font-size: .7rem;
    line-height: calc(1em + .5rem);
    margin: 1rem 0;

}
.info-sectionDrie-div {
    width: 90%;
    text-align: start;
    max-width: 550px;
}
.sectionDrie-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

























/* size------------------------------------------------------------------------------------------ */



/* xs */
@media (min-width: 475px) {


    .home-boven-title  h4{
        font-size: .798rem;
    }
    .home-boven-title h4::before {
        content: '';
        margin-left: 3px;
    }
    .home-boven-title p {
        font-size: .75rem;
        max-width: 400px;
        margin-top: .6rem;
        margin-bottom: 1.5rem;

    }
    .home-boven-title h1 {
        font-size: 2.5rem;
    }
    
    #btn {
        font-size: 0.8rem;
        padding: .25rem 1rem;
        border-radius: 6.5px;
    }
    
    .home-fruit-foto  img {
        width: 90%;
        border: none;
        max-width: 500px;
    }

    
/* 3section ------------------------------------------------------------------ */



.info-sectionDrie-div h1 {
    font-size: 1.7rem;
}
.info-sectionDrie-div p {
    font-size: .8rem;
    margin: 1.5rem 0;
}

}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .home-boven-title  h4{
        font-size: .958rem;
    }
    .home-boven-title h4::before {
        content: '';
        margin-left: 5px;
    }
    .home-boven-title p {
        font-size: .8rem;
        max-width: 470px;
        margin-top: .8rem;
        margin-bottom: 1.8rem;
    }
    .home-boven-title h1 {
        font-size: 3rem;
    }
    
    #btn {
        font-size: 0.9rem;
        padding: .35rem 1.2rem;
        border-radius: 8px;
    }
    
    .home-fruit-foto  img {
        width: 90%;
        border: none;
        max-width: 500px;
    }
    /* 2section */
    .div-home-fruits {
        flex-direction: row;
        margin-top: 5rem;
    }

    /* 3section ------------------------------------------------------------------ */
.info-sectionDrie-div h1 {
    font-size: 1.9rem;
}
.info-sectionDrie-div p {
    font-size: .9rem;
    max-width: 600px;
}

}

/* lg */
@media (min-width: 1024px) {

    .home {
        margin-top: 0;
        flex-direction: row;
        gap: 0;
    }
    .home-boven-title {
        padding-left: 1rem;
    }
    /* styles i already did */
    .home-boven-title  h4{
        font-size: 1rem;
    }

    .home-boven-title p {
        font-size: .9rem;
        max-width: 500px;
        margin-top: .8rem;
        margin-bottom: 1.8rem;
    }
    .home-boven-title h1 {
        font-size: 4rem;
    }
    
    #btn {
        font-size: 1.1rem;
        padding: .35rem 1.2rem;
        border-radius: 8px;
    }
    
    .home-fruit-foto  img {
        width: 100%;
        max-width: 650px;
    }



    /* 3section ------------------------------------------------------------------ */
.DerdeSection-div {
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}

.DerdeSection-div2 {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10rem;
}
.DerdeSection-div img,
.DerdeSection-div2 img {
    max-width: 450px;
    transform: rotateY(180deg);
}

.info-sectionDrie-div h1 {
    font-size: 1.8rem;
}
.info-sectionDrie-div p {
    font-size: 1rem;
    margin: 1rem 0;

}
.info-sectionDrie-div {
    max-width: 500px;
}


}

/* xl */
@media (min-width: 1280px) {

    .home-boven-title {
        padding-left: 0;
    }
    /* styles i already did */
    .home-boven-title  h4{
        font-size: 1.2rem;
    }

    .home-boven-title p {
        font-size: 1.1rem;
        max-width: 570px;
        margin-top: .8rem;
        margin-bottom: 1.8rem;
    }
    .home-boven-title h1 {
        font-size: 4.5rem;
    }
    
    #btn {
        font-size: 1.2rem;
        padding: .35rem 1.2rem;
        border-radius: 8px;
    }
    
    .home-fruit-foto  img {
        width: 100%;
        border: none;
        max-width: 650px;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */