

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
.product-hoofd-div {
    text-transform: capitalize;
}
.products-item-display {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

#prodcut-shop-button-id {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .products-item-display {
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */